@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');
.body {
    background-color: dimgray;
    color: white;
    font-family: "Sofia Sans", sans-serif;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}